#head{
    height: 4em ;
    width: 80em;
    background-color:lightgray;
}
#logo{
     margin: 10px;
     float: left;
     padding: 10px;
}
#search{
        margin: 15px;
        float: left;
        padding: 10px;
        width: 40px;
}
#engine{
    width: 600px;
    height: 25px;

}
#button{
       margin: 0px ;
       float: left;
       padding: 25px 0px 15px 530px;
       
}
#right{
    float: right;
    padding: 0px 4px;
}
li{
    list-style: none;
    display: inline;
    padding: 6px;
}
#Gmail{
    border-style: none;
    color:red;
    font-size: 20px;
    
} 
#clear{
    clear: both;
}
option{
    color: black;
    font-size: 80%;
   
}
